* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
     font-family:'Bauhas';
     src: url('bauhas.ttf');
 }



  h1,h2,h3,h4,h5
  {
    font-family: 'Bauhas';
  }


a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background-color: #b895bf;
	overflow-x: hidden;
}


/* CONTENT */
#content {
	position: relative;
	transition: .3s ease;
	background-color:#b895bf;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: #926797;
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
.main_cont{
background-color: white;
    border-radius: 8px;
    min-height: 600px;
    margin:30px;
    position:relative;

}
.close-icon {
     position: absolute;
     top: 0px;
     right: 10px;
     color: red;
     font-size: 30px;
     cursor: pointer;
     z-index:1;
 }
 .close-icon:hover {
      color: darkred;
  }
.window-header {
    min-height: 32px;
    padding: 8px 52px 8px 56px;
    position: relative;
}

.window-header-icon {
    left: 16px;
    position: absolute;
    top: 16px;
    font-size: 35px;
}
.task_description{
    max-width:600px;
    word-wrap: break-word;
    padding: 8px 52px 8px 56px;
}
.task_deadline{
    padding: 8px 52px 8px 50px;
}
.task_employee{
    padding: 8px 50px 8px 50px;
}
.task_anoth_info{
    display:flex;
}
.task_priority{
    padding: 8px 50px 8px 50px;
}
.user {
      display: flex;
      justify-content: space-between;
    }
.user img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .user .user-info {
      flex: 1;
    }
        .priority-high {
             background-color: red;
             border-radius:8px;
             padding: 2px;
             color:white;
             text-align: center;
             /* Дополнительные стили для приоритета "high" */
         }
         .priority-medium {
             background-color: yellow;
             color: black!important;
             border-radius:8px;
             padding: 2px;
             text-align: center;
             /* Дополнительные стили для приоритета "medium" */
         }
         .priority-low {
             background-color: green;
             border-radius:8px;
             padding: 2px;
             color:white;
             text-align: center;
             /* Дополнительные стили для приоритета "low" */
         }

    .Comments{
        position:relative;
    }
    .Comments_h3{
    padding: 8px 50px 0px 50px;
    }
    .comment-div{
      bottom: 0;
      width: 100%;
      padding: 5px 0;
    }
    .comment-form{
    display:flex;
        flex-direction:column;
        padding: 0px 52px 8px 50px;

    }
    .comment-input{
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
          width: 40%;
          height: 2%;
          padding: 10px;
          font-size: inherit;
          border-radius: 6px;
          border:none;
      }
      .comment-input_edit{
      display:none;
      margin-top: 0;
             box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.1);
                            border-radius: 5px;
                            padding: 7px;
                            min-height: 60px;
                                width: 30%;
                            word-wrap: break-word;
                            background-color:white;
            }
      .comment-submit{
            border: none;
                border-radius: 8px;
                color: white;
                padding: 8px 13px;
                background-color: #d0abbe;
                display: block;
                margin: 10px;
                margin-left: 0px;
                text-align: center;
                width: 20%;
        }
        .comment-submit_edit{
                    border: none;
                    border-radius: 8px;
                    color: white;
                    padding: 8px 10px;
                        background-color: #d0abbe;
                        display: none;
                        margin: 10px;
                        margin-top: 3px!important;
                        margin-left:0px!important;
                        text-align: center;
                        width: 17%;
                }

      .comment > img{
        height: 32px;
            left: 30px;
            position: absolute;
            top: 12px;
            width: 32px;
      }
      .comment{
        padding: 8px 52px 8px 65px;
        position: relative;
      }
      .info{
        display:block;
        word-wrap: break-word;
          margin: 0;
      }
      .comment-text{
        margin-top: 0;
            display: block;
            box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.1);
            border-radius: 5px;
            padding: 7px;
            min-height: 60px;
            max-width: 30%;
            word-wrap: break-word;
            background-color:white;
      }
      .comment-delete{
        font-size:12px;
      }

 #userInfo {
   position: absolute;
   background: white;
   padding: 10px;
   display: none;
   border-radius: 8px;
   border: 1px solid black
 }